* {
    box-sizing: border-box;
}

#header-nav {
    background-color: #AAA5A5;
    border-radius: 0;
    border: 0;    
    border: solid black 3px;
    margin-bottom: 0;
}

.navbar-brand {       
    padding-left: 0;  
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

.navbar-brand h1 {    
    font-family: 'Josefin Slab';
    font-size: 1.5em;
    font-weight:700;
    color: black;   
    margin-top: 0;
    margin-left: 15px;
    margin-bottom: 0;
}

.text-center {
    font-family: 'Josefin Slab';
    font-size: 38px;
    font-weight: bold;
    position: relative;
    margin-top: 55px;
}

#text {       
    margin: 10px;
    font-size: 1.1em;
    background-color: #AAA5A5;
    font-family: 'Open Sans';   
    position: relative;
}



#nav-list {
    margin-top: 10px;
}

#nav-list a {
    text-align: center;
    color: black;
    font-family: 'Josefin Slab';
    font-weight: 700;
    font-size:1.4em;
    background-color: #AAA5A5;
}

hr {
    width:80%;
}

#nav-list a:hover {
    background-color: #ffe715;   
}

.navbar-default .navbar-collapse {
	margin-top:0px;
	border: 0px;
	list-style-type: none;
}  
